
/*---- ID do menu inteiro----*/
#menuHeader{
	margin-bottom: 7%;
}
/*---------------------------*/


/* ---- responsável por fixar o menu no topo ----*/
.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 99;
	transition: all 0.5s ease;
	width: 100%;	
}
/*----------------------------------------------*/


/*---- Logo no início do menu ----*/
#logo{
	width: 130px;
	height: 70px;
}
/*--------------------------------*/


/*---- Transição do dropdown | mudar cor do divisor | hover ----*/
.dropdown-item{
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dropdown-divider{
	border-color: rgba(255, 255, 255, 0.07);
}

.dropdown-item:hover{
	background-color: #ddd;
	transform: scale(1.03);		
}
/*--------------------------------------------------------------*/


/*---- Botões de login e cadastro ----*/
.btnmenu{
	margin-right: 8px;
	margin-bottom: 5px;
}
/*------------------------------------*/


/*---- Barra de busca ----*/
#buscaMenu{
	margin: 0 30px 0 10px;
}

#txtBuscar{
	padding-left: 10px;
}
/*-----------------------*/


/*--- Mostra valor do carrinho ----*/
#sec-carrinho{
	font-size: 0.6em;
	margin-right: 30px;
	text-align: center;
}
/*---------------------------------*/


/*--- Margem que distancia o conteúdo do menu ----*/
#content-after-menu{
	margin-top: 75px;
}
/*------------------------------------------------*/


@media only screen and (max-width: 768px){
	#logo{
		width: 100px;
		height: 50px;
	}

	#buscaMenu{
		margin: 20px 0 10px 0px;
	}

	#menuHeader{
		position: fixed;
		top: 0;
		z-index: 99;
		width: 100%;
	}

	#sec-carrinho{
		margin: 10px 0;
		text-align: center;			
	}

	#sec-usuario{
		margin: 9px 0;
		text-align: center;
	}
}